--disable andOperator
--disable leadingDelimiters
--disable linebreakAtEndOfFile
--disable numberFormatting
--disable sortedImports
--disable strongOutlets
--disable unusedArguments
--disable wrapArguments
--disable redundantFileprivate
--operatorfunc no-space

# rules

--enable isEmpty
--enable redundantExtensionACL
--enable redundantFileprivate
--enable redundantGet
--enable redundantInit
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantRawValues
--enable redundantReturn
--enable duplicateImports
