--disable andOperator
--disable leadingDelimiters
--disable linebreakAtEndOfFile
--disable numberFormatting
--disable sortedImports
--disable strongOutlets
--disable unusedArguments
--disable wrapArguments
--disable redundantFileprivate
--operatorfunc no-space
--disable preferKeyPath
--disable wrapMultilineStatementBraces

# rules

--ifdef outdent
--specifierorder public,override
--enable isEmpty
--enable redundantExtensionACL
--enable redundantFileprivate
--enable redundantGet
--enable redundantInit
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantRawValues
--enable redundantReturn
--enable duplicateImports
# --enable fileHeader
